# --------- pytorch --------- #
torch==1.12.1
torchvision==0.13.1
pytorch-lightning==1.6.5
torchmetrics==0.10.1

# --------- hydra --------- #
hydra-core==1.2.0
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
# wandb
# neptune-client
# mlflow
# comet-ml

# --------- others --------- #
pyrootutils==1.0.4      # standardizing the project root setup
pre-commit==2.20.0      # hooks for applying linters on commit
rich==12.6.0            # beautiful text formatting in terminal
pytest==7.2.0           # tests
sh==1.14.3              # for running bash commands in some tests
timm==0.6.11            # pytorch image models

# ----- object detection----- #
pycocotools==2.0.5


# -------- Adversary ---------#
git+https://github.com/RobustBench/robustbench.git@9a590683b7daecf963244dea402529f0d728c727
