_target_: mart.nn.CallWith
module:
  _target_: mart.attack.objective.ZeroAP
  iou_threshold: 0.5
  confidence_threshold: 0.0
arg_keys:
  - ${model.output_preds_key}
  - ${model.output_target_key}
kwarg_keys: null
