defaults:
  - /callbacks@callbacks: [progress_bar]

_target_: mart.attack.Adversary
_convert_: all
perturber: ???
composer: ???
optimizer:
  maximize: True
gain: ???
gradient_modifier: null
objective: null
enforcer: ???
attacker: null
batch_converter: ???
model_transform: null
