defaults:
  - iterative_sgd
  - perturber: default
  - perturber/initializer: uniform_lp
  - perturber/gradient_modifier: sign
  - perturber/projector: linf_additive_range
  - objective: misclassification
  - gain: cross_entropy
  - threat_model/composer@composer: additive

optimizer:
  lr: 1

max_iters: 10

perturber:
  initializer:
    eps: 2

  projector:
    eps: 2
