defaults:
  - adversary
  - perturber: default
  - perturber/initializer: constant
  - perturber/projector: linf_additive_range
  - composer: additive
  - /optimizer@optimizer: sgd
  - gain: cross_entropy
  - gradient_modifier: sign
  - objective: misclassification
  - enforcer: default
  - enforcer/constraints: [lp, pixel_range]
  - batch_converter: list

enforcer:
  constraints:
    lp:
      eps: 2

max_iters: 1

optimizer:
  lr: 1.75

perturber:
  initializer:
    constant: 0

  projector:
    eps: 1.75

# We can turn off progress bar for one-step attack.
callbacks:
  progress_bar:
    enable: false
