defaults:
  - iterative_sgd
  - perturber: default
  - perturber/initializer: constant
  - perturber/gradient_modifier: sign
  - perturber/projector: linf_additive_range
  - objective: misclassification
  - gain: cross_entropy
  - composer@composer: additive
  - enforcer: default
  - enforcer/constraints: [lp, pixel_range]

enforcer:
  constraints:
    lp:
      eps: 2

optimizer:
  lr: 1.75

max_iters: 1

perturber:
  initializer:
    constant: 0

  projector:
    eps: 1.75
