defaults:
  - iterative_sgd
  - perturber: batched
  - perturber/initializer: constant
  - perturber/gradient_modifier: sign
  - perturber/projector: linf_additive_range
  - objective: misclassification
  - gain: cross_entropy
  - threat_model: additive

optimizer:
  lr: 1.75

max_iters: 1

perturber:
  initializer:
    constant: 0

  projector:
    eps: 1.75
