_target_: mart.attack.NormalizedAdversaryAdapter
external_adversary:
  _target_: mart.utils.adapters.CallableAdapter
  instance:
    _target_: autoattack.AutoAttack
    _partial_: true
    norm: Linf
    # 8/255
    eps: 0.03137254901960784
    version: custom
    attacks_to_run:
      - apgd-dlr
  redirecting_fn: run_standard_evaluation
