defaults:
  - perturber/projector: linf_additive_range
  - enforcer: default
  - enforcer/constraints: lp

enforcer:
  constraints:
    lp:
      p:
        _target_: builtins.float
        _args_: ["inf"]
