defaults:
  - adversary
  - perturber: default
  - perturber/initializer: constant
  - perturber/composer: overlay
  - perturber/projector: mask_range
  - optimizer: sgd
  - gain: rcnn_training_loss
  - gradient_modifier: sign
  - objective: zero_ap
  - callbacks: [image_visualizer]
  - enforcer: default
  - enforcer/constraints: [mask, pixel_range]

# Make a 5-step attack for the demonstration purpose.
max_iters: 5

optimizer:
  lr: 55

perturber:
  initializer:
    constant: 127
