defaults:
  - adversary
  - gradient_ascent
  - mask
  - data_coco
  - perturber/initializer: constant
  - composer: overlay
  - gradient_modifier: sign
  - gain: rcnn_class_background
  - objective: object_detection_missed
  - batch_c15n: tuple

max_iters: ???
lr: ???

# Start with grey perturbation in the overlay mode.
perturber:
  initializer:
    constant: 127
